@inherits LayoutComponentBase

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <NavMenu />

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">  
            <Topbar />
            <div class="container-fluid">
                @Body
            </div>
        </div>

        <Footer />
    </div>
</div>
